body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #EBB1D9;
}

.myHeader {
  background-color: #DD7DBF;
  color: black;
  min-width: 100%;
  display: flex;
  text-align: center;
}

.myFooter {
  background-color: #DD7DBF;
  display: flex;
}
